.form_meal_box{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.btn_create_return_meal_box{
    display: flex;
    /* flex-direction: column; */
    gap:1px;
    padding: 20px;
}

.img_meal_box{
    max-width: 300px;
    padding: 10px 10px 1px 10px;
}
.img_meal{
    max-width: 100%;
}
.transparent {
    opacity: 0.5; 
  }

.btn_hidden {
    display: none;
}

.form_meal_box p {
    color: red;
}