.modalWindowConfirm_box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(128, 128, 128, 0.622);
    border-radius: 5px;
    min-width: 50%;
    min-height: 70%;
    background-color: rgba(199, 212, 185);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    z-index: 1000;
    padding: 10px;
}

.modalWindowConfirm_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalWindowConfirm_text p{
    margin: 2px;
    padding: 5px;
}

.modalWindowConfirm_btn_box{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.modalWindowConfirm_btn{
    min-width: 180px;
    padding: 10px 70px;
    border: 2px solid  grey;
    color: #28211f;
    border-radius: 3px;
    background-color:white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); 
    margin: 10px;
}

.modalWindowConfirm_btn:hover{
    color: #28211f;
    border: 2px solid  white;
}

.reiewForm_box p {
    color: red
}

