.nav_box{
    background-color: #c7d4b9;
}
.nav_list{
    display: flex;
    justify-content: space-between;

}
.nav_item{
    flex: 1; 
    text-align: center;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #28211f;
    list-style: none;;
}

/* .nav_box::after{
    position: relative;
    width: 70%;
    margin: 0 auto;
    background-image: url('./images/mainPage.jpg');
    background-color: #c7d4b9;
    background-size: cover; 
 background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    z-index: -1;
} */
